<h1>Ir a pantalla de: </h1>
<p>Clientes: /clientes </p><%= link_to 'clientes', '/clientes' %>
<p>Orden: /ordenes </p><%= link_to 'orden', '/ordenes' %>
<p>Detalle de orden: /detalle_ordens </p><%= link_to 'detalle de orden', '/detalle_ordens' %>
<p>Productos: /productos </p><%= link_to 'clientes', '/productos' %>
<hr>


