<h1>Ir a pantalla de: </h1>
<p>Clientes: </p><%= link_to 'clientes', '/clientes' %>

<hr><hr>

<p>Orden:</p><%= link_to 'orden', '/ordenes' %>

<hr><hr>

<p>Detalle de orden:</p><%= link_to 'detalle de orden', '/detalle_ordens' %>

<hr><hr>

<p>Productos: </p><%= link_to 'productos', '/productos' %>



